* {
	font-family: 微軟正黑體;
}

.nav-link {
	font-size: 20px;
}

#mapicon {
	width: 16%;
	float: left;
}

#artical01 {
	/* 	float:left; */
	width: 100%;
	margin-top: 5%;
	/* 	position:relative; */
	/*     top:-700px; */
}

#title {
	text-align: left;
	margin: 2% 40% 2% 20%;
	border: none;
	width: 51%;
	
}

#text02 {
	float: left;
	margin-left: 8%;
	font-size: 200%;
	font-family: Microsoft JhengHei;
}

strong {
	font-weight: bolder;
}

#btn1 {
	width: 10%;
	/* 	margin-top: 0.2%; */
	margin-left: -80%;
	margin-bottom: 2%;
}

.detail {
	width: 40%;
	display: table;
	margin-left: 5%;
	margin-right: auto;
}

#NextPagebtn {
	float: left;
	margin-top: 0.5%;
	margin-left: 5%;
	background-color: #C9C9C9;
	box-shadow: 3px 3px 0px 0px #C9C9C9;
	border-radius: 5px;
	color: white;
	height: 45px;
	width: 10%;
}

#NextPagebtn:hover {
	background-color: #737373;
}

.table td {
	/* background-color: #E8E8E8; */
	border-bottom: 1px solid #C9C9C9;
	overflow: hidden;
	text-align: left;
}

.table {
	border-collapse: separate;
	border-spacing: 0;
	table-layout: fixed;
}

.table th {
	width: 10%;
	text-align: left;
	white-space: nowrap;
	/* background-color: #E8E8E8; */
	border-bottom: 1px solid #C9C9C9;
	overflow: hidden;
}

aside {
	position: relative;
	top: -700px;
	width: 30%;
	float: right;
}

.nocolor {
	-webkit-filter: grayscale(1);
	width: 18%;
}

.displaycolor {
	-webkit-filter: grayscale(0);
	width: 18%;
}

#section3 {
	border-top: 3px solid #C9C9C9;
	margin-top: 6%;
	margin-right: 14%;
	padding-top: 5%;
	width: 146%;
	float: right;
}

#comment {
	box-shadow: 1 3px 0 #e6e6e6;
	padding-left: 10px;
	width: 96%;
	height: 200px;
	margin: auto;
	margin-right: 2%;
	border-radius: 25px;
	box-shadow: inset -1px -7px 20px 6px #696969;
}

.title {
	margin-right: 138%;
	width: 20%;
	margin-top: 5%;
	/* border: 1px solid; */
	float: right;
	/* border: 1px solid; */
	/*     float: right; */
}

.allstars {
	width: 70%;
	margin-top: -13%;
	margin-right: 67%;
	/*     border: 1px solid red; */
	float: right;
}

#score {
	font-size: 20px;
	font-weight: 900;
	color: #3B3BFF;
	text-align: center;
	margin-right: 70%;
	margin-top: 1%;
	margin-left: -7%;
}

#resetbt {
	font-family: 微軟正黑體;
	font-weight: 900;
	color: #EDEDED;
	height: 50px;
	font-size: 20px;
	width: 25%;
	margin-top: 3%;
	margin-right: -174%;
	text-align: center;
	border-radius: 20px;
	/* border: 1px #737373 solid; */
	box-shadow: 0 3px 0 #BABABA;
}

#resetbt:hover {
	background-color: #737373;
}

#section2 {
	/* border-bottom: 2px solid #969696; */
	
}


#googlemap {
	float: right;
	margin-right: 17%;
	margin-top: 13%;
}

/* googleMaps */
#map {
	/* 	position: absolute; */
	/* 	top: 25%;	/*地圖佔頁面的3/4，即 頁面高 - 地圖高 = 定位點高度 (100%-75%=25%) */ */
	position: absolute;
	right: 55%;
	height: 300px;
	width: 603px;
	margin-top: 25%;
}

#body {
	/* 	position: relative;	/*相對定位*/ */
	height: 100%;
	width: 100vw;
	top: 0;
	left: 0;
}

.btn {
	
}

footer{
	position: relative;
	height: 50px;
}

