* {
	font-family: 微軟正黑體;
	margin: 0px;
	padding: 0px;
}

.nav-link {
	font-size: 20px;
}

.houseicon {
	height: 35px;
	width: 35px;
}

.housetitle {
	font-size: 20px;
	margin-left: 20px;
	margin-top: 50px;
}

.houseprice {
	font-size: 15px;
	color: #444444;
}

.housename {
	font-size: 20px;
	font-weight: bold;
	color: #444444;
}

.houseaddress {
	font-size: 15px;
	color: #880000;
	font-weight: bold;
}

.container {
	margin-left: auto;
	margin-right: auto;
}

/* .row { */
/* 	width: 3000px; */
/* 	padding-left: 20px; */
/* 	margin-top: 100px; */
/* } */

.card-text {
	margin-bottom: 0px;
	color: #880000;
	font-weight: bold;
}

.searchbar {
	margin-left: 10px;
	margin-top: 35px;
	height: 40px;
}

.buttons .btn {
	margin-top: 50px;
	margin-left: 20px;
	margin-bottom: 20px;
}

#sub {
	width: 60px;
	margin-left: 270px;
}

.container {
	
}



.selectbar {
	border: 1px solid #DDDDDD;
	height: 70px;
	width: 210px;
	margin-left: 20px;
	margin-top: 25px;
/* 	float: left; */
}

.paris {
	height: 70px;
	width: 90px;
}

.parisfont {
	padding-left: 6px;
}

.houseSpace {
	font-size: 12px;
	color: #444444;
}

.star {
	width: 15px;
	height: 15px;
}

.staraverage {
	font-size: 12px;
	font-weight: bold;
	text-align: base;
	color: #444444;
}

.moreselect {
	padding-left: 12px;
}